@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@400;500;700&display=swap');


.bg-green-500{
  --tw-bg-opacity: 1;
  background-color: #4caf72;
}

/* Definindo a fonte padrão */
body {
  font-family: 'Work Sans', sans-serif;
}


.font-terminal {
  font-family: 'Terminal, sans-serif';
}


/* Estilização opcional para títulos */
h1, h2, h3, h4, h5, h6 {
  font-weight: 600;
}

a {
  transition: color 0.3s ease;
}
a:hover {
  color: #af4c96; /* Verde suave */
}

button {
  transition: background-color 0.3s ease, transform 0.2s ease;
}
button:hover {
  background-color: #af4c96;
  transform: scale(1.05);
}


/* Estilo para as bolinhas padrão */
.swiper-pagination-bullet {
  background-color: #cccccc; /* Cor padrão das bolinhas */
  width: 82px;
  height: 12px;
  opacity: 0.7;
  transition: background-color 0.3s, transform 0.3s;
}

/* Estilo para a bolinha ativa */
.swiper-pagination-bullet-active {
  background-color: #ff4081; /* Cor da bolinha ativa */
  transform: scale(1.2);
  opacity: 1;
}
